html{
    scroll-behavior: smooth;
}
body{
    background-color: salmon;
    margin: 0px;
    padding: 0px;
}

h1{
    color: red;
    background-color: yellow;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h5{
    color: aqua;
    font-size: 20px;
    text-shadow: 5px 5px 15px white;
}

.menu{
    text-align: center;
    font-size: 20px;
    color: white;
}

a{
    color: white;
    text-decoration: none;
    background: linear-gradient(90deg,red,black);
    padding: 5px;
    border: 1px white;
    border-radius: 20px;

}

a:hover{
    background: linear-gradient(90deg,yellow,black);
}

p{
    color: white;
    font-family: comic sans ms;
    padding: 5px;
    text-align: justify;
}

table
{
    width: 100%;
    text-align: center;
}

img{
    width: 400px;
    border: 1px solid white;
    border-radius: 10px;
}